@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}
header {
  margin: 0 auto;
  width: 431px;
}
h1 {
  background: url("./background.jpg") 40% 50%;
  padding: 1.2rem 0;
  margin: 0;
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #a6c529;
}

@media (max-width: 600px) { 
  header {
    width: 371px;
  }
  h1 {
    font-size: 26px;
  }
  .score-container {
    font-size: 12px;
  }
  canvas {
    width: 371px;
  }
}